@if (User.Identity.IsAuthenticated)
{
    <h1>@User.Identity.Name</h1>

    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input type="submit" value="Logout" />
</form>
}
else
{
    @*<a asp-controller="Account" asp-action="Register">Register</a>*@
    <a asp-controller="Account" asp-action="Login">Login</a>
}