
@{
    ViewData["Title"] = "FileUpload";    
}

<h2>FileUpload</h2>

<form asp-controller="Attachments" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>
<form asp-controller="Attachments" asp-action="UploadFiles" method="post"
      enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <button type="submit">Upload Files</button>
</form>
<form asp-controller="Attachments" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">
    <input type="file" name="FileToUpload" />
    <button type="submit">Upload File (model)</button>
</form>